{% extends "base.html" %}

  {% block content %}
    {% if data %}
        <div class='row'>
          <div class=col-sm-4>
            <div class='row'>
                <h1>{{ data['alias'] }}</h1>
            </div>
            <div class='row'>
                Desc: {{ data['dev_name'] }}
            </div>
            <div class='row'>
                Model: {{data['model'] }}
            </div>
          </div>
        </div>
        
        
    {% else %}
        <h1>No Plug Found</h1>
    {% endif %}

    {{data}}
  {% endblock %}


